<div class="login-container">
    <mat-card>
        <mat-card-content appearance="fill">
            <form class="login-form" (ngSubmit)="onSubmit()">
                <h1>Bienvenido </h1>
                <mat-form-field>
                <input matInput placeholder="Nombre de usuario" formControlName="username">
                </mat-form-field>
            
                <mat-form-field>
                <input matInput type="password" placeholder="Contraseña" formControlName="password">
                </mat-form-field>
            
                <button mat-raised-button color="primary" type="submit">Iniciar sesión</button>
            </form>
        </mat-card-content>
    </mat-card>
</div> 
